[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rborist"]
	path = Rborist
	url = https://github.com/suiji/arborist
	subdir = Rborist
